spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/yygh_user?useSSL=false&useUnicode=true&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0
    timeout: 8000
    lettuce:
      pool:
        max-active: 20
        max-wait: -1
        max-idle: 5
        min-idle: 0
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
  application:
    name: service-user
server:
  port: 8000

logging:
  config: classpath:log/logback.xml

mybatis-plus:
  mapper-locations:
    - classpath:/mapper/*Mapper.xml
  type-aliases-package: com.wuwq.yygh.model
